{% extends base_template %}
{% trans_default_domain 'admin' %}

{% block navbar_title %}
    {{ 'categories.list.title'|trans }}
{% endblock %}

{% block show %}

  <link rel="stylesheet" href="{{ asset('fonts/fontawesome-5/css/all.css') }}" />
  {{ config.iconImport|raw }}

  
  <div id="taxonomy-tree">
    <div v-if="taxonomy == null" class="loading">Loading</div>
    <div v-else>
      <button type="submit" class="btn btn-success" @click="save">{{ 'commons.save'|trans }}</button>
      <OptionComponent key="root" :option="{subcategories: taxonomy}"></OptionComponent>   
      <p v-if="taxonomy && taxonomy.length == 0">{{ 'categories.list.empty'|trans }}</p>
      <button type="submit" class="btn btn-success" @click="save">{{ 'commons.save'|trans }}</button>
    </div>
  </div>

  <div class="alert alert-default">
    {{ 'categories.list.video_tutorials'|trans|raw }}
  </div>
{% endblock %}


